<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<style>
    body {
        width : 500px;
        text-align : center;
         margin-left: 700px;
         margin-top: 150px;
    } 
</style>
<body class="body-class">
    <div class="card bg-light">
<h1>Registration Page</h1>
<form action="/register" method="POST">
<div class="form-group input-group" style="margin-top: 10px;">
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="name" class="form-control" placeholder="Full name" type="text" required>
    </div> 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="email" class="form-control" placeholder="Email address" type="email" required>
    </div>
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input class="form-control" name="password" placeholder="Create password" type="password" required> 
    </div>
    <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" style="margin-left: 120px;">  Create Account  </button> 
    </div> 
</div>
</form>
<a style="margin-top: -20px;" href="/login">Login</a>
</div>
</body>
</html>

